# VCS
-e git+https://github.com/GridTools/gt4py.git@main#egg=gt4py
#git+https://github.com/GridTools/serialbox#egg=serialbox&subdirectory=src/serialbox-python

# PyPI
bump2version>=1.0.1
coverage[toml]>=5.0
mypy>=0.942
pre-commit~=2.15
pytest>=6.1
pytest-benchmark>=4.0.0
pytest-cache>=1.0
pytest-cov>=2.8
pytest-factoryboy>=2.0
pytest-xdist[psutil]>=2.2
pytest-mpi>=0.6
ruff>=0.2.2
setuptools>=40.8.0
tox >= 3.25
typing-extensions==4.5.0
types-cffi>=1.15
wheel>=0.37.1
wget>=3.2
