-r base-requirements.txt

# icon4py model
./model/atmosphere/dycore
./model/atmosphere/diffusion
./model/atmosphere/advection
./model/atmosphere/subgrid_scale_physics/microphysics
./model/common[io]
./model/driver


# icon4pytools
./tools
