-r base-requirements.txt


# icon4py model
./model/atmosphere/dycore
./model/atmosphere/diffusion
./model/atmosphere/advection
./model/common
./model/driver

# icon4pytools
./tools

# for microphysics graupel
./shared
./atm_phy_schemes
