#git+https://github.com/ghex-org/GHEX.git#subdirectory=bindings/python
-r base-requirements-dev.txt
# icon4py model
-e ./model/common[all]
-e ./model/atmosphere/dycore
-e ./model/atmosphere/advection
-e ./model/atmosphere/diffusion
-e ./model/driver

# icon4pytools
-e ./tools


