-r base-requirements-dev.txt

# icon4py model
-e ./model/atmosphere/dycore
-e ./model/common
-e ./model/atmosphere/diffusion

# icon4pytools
-e ./tools
# TODO (magdalena) remove after merge
-e ./py2f
