git+https://github.com/ghex-org/GHEX.git@master#subdirectory=bindings/python
-r base-requirements-dev.txt
# icon4py model
-e ./model/common[all]
-e ./model/atmosphere/dycore
-e ./model/atmosphere/advection
-e ./model/atmosphere/diffusion
-e ./model/atmosphere/subgrid_scale_physics/microphysics
-e ./model/driver

# icon4pytools
-e ./tools


