-r base-requirements-dev.txt

# icon4py model
-e ./model/atmosphere/dycore
-e ./model/atmosphere/advection
-e ./model/atmosphere/diffusion
-e ./model/atmosphere/physics/microphysics
-e ./model/common[io]
-e ./model/driver

# icon4pytools
-e ./tools
