[flake8]
# Some sane defaults for the code style checker flake8
max-line-length = 100
max-complexity = 15
doctests = true
extend-ignore =
    # Do not perform function calls in argument defaults
    B008,
    # Public code object needs docstring
    D1,
    # Disable dargling errors by default
    DAR,
    # Whitespace before ':' (black formatter breaks this sometimes)
    E203,
    # Line too long (using Bugbear's B950 warning)
    E501,
    # Line break occurred before a binary operator
    W503,
    # Import statement is shadowing a Python builtin
    A004

exclude =
    .eggs,
    .gt_cache,
    .ipynb_checkpoints,
    .tox,
    _local_,
    build,
    dist,
    docs,
    _external_src,
    tests/_disabled,
    setup.py

rst-roles =
    py:mod, mod,
    py:func, func,
    py:data, data,
    py:const, const,
    py:class, class,
    py:meth, meth,
    py:attr, attr,
    py:exc, exc,
    py:obj, obj,
