name: ICON4Py Quality Assurance

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
        types: [opened, reopened, synchronize]
jobs:
    pre-commit-icon4py-model:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            -   name: Install system dependencies
                run: |
                    sudo apt-get install libboost-all-dev
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
                  cache: 'pip'
                  cache-dependency-path: |
                    **/pyproject.toml
                    **/base-requirements.txt
                    **/base-requirements-dev.txt
                    **/requirements.txt
                    **/requirements-dev.txt
            - name: Install all icon4py namespace packages
              run: |
                  python -m pip install --upgrade pip setuptools wheel
                  python -m pip install -r ./requirements-dev.txt
                  python -m pip list
            - name: Run checks
              run: |
                  pre-commit run
